<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Knowledge Base</h1>
	</div>
</div>
	<!-- /.col-lg-12 -->
	<div class="panel panel-primary">
                        <div class="panel-heading">
                         Knowledge Base  
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab" aria-expanded="true">Interview Guidelines</a>
                                </li>
                                <li class=""><a href="#profile-pills" data-toggle="tab" aria-expanded="false">Interviewers</a>
                                </li>
                                <li class=""><a href="#messages-pills" data-toggle="tab" aria-expanded="false">Sample Questions</a>
                                </li>
                                <li class=""><a href="#settings-pills" data-toggle="tab" aria-expanded="false">Referral Policies</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in"  id="home-pills">
                                    <p>
                                        <ul>
                                            <li> Please take interviews only if you are comfortable doing it.</li>
                                                 Check below to see if you are eligible for that round.</li>
                                            <li>Have an updated knowledge about the Xebia statistics , head count , office etc.</li>
                                            <li>Know beforehand what are expectations for that position in case asked by the candidate. </li>
                                            <li>For new people taking interviews , make sure the other interviewer is an old xebian.</li>
                                            <li>For phone screens, ask relevant questions, answers of which can be dictated back by the candidates</li>
                                            <li>A General workflow for the overall process is <a href="https://intranet.xebia.com/confluence/download/attachments/4522320/HR+Recruitment+Process.JPG?version=1&modificationDate=1287403322595">here</a></li>
                                         </ul>


                                    </p>
                                </div>
                                <div class="tab-pane fade" id="profile-pills">
                                    <p>
                                        <ul>
                                            <li>Balendra Singh</li>
                                                 
                                            <li>Priyank Gupta</li>
                                            <li>Deepak Bansal</li>
                                            <li>Pratik Garg</li>
                                            <li>Vaibhav Sehgal</li>
                                            
                                         </ul>
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="messages-pills">
                                    <p>
                                        <ul>
                                            <li>Using jUnit, how do you test if a method throws an Exception on certain conditions?</li>
                                            <li>What is the exception handling strategy in your project?</li>
                                            <li>What do you think about the Exception handing strategy of JDBC API?</li>
                                            <li>What is the kind of data that you would like to be cached in your application?</li>
                                            <li>Difference between redirecting a request & forwarding a request?</li>
                                            <li>Awareness about JDK 1.5 & JDK 1.6?</li>
                                            <li>How do you test business layer in your application (listen-for: mocking)</li>
                                            <li>How can you go about integrating a .Net application with a Java application?</li>
                                            <li>What is the difference between a mock and a stub?</li>
                                            <li>What is AOP?</li>
                                            <li>What is the difference between pooling and caching?</li>
                                            <li>What is the difference between a Process and a Thread?</li>
                                            <li>What is a Daemon thread?</li>
                                            <li>What if filter chaining?</li>

                                        </ul>
                                    </p>
                                </div>
                                <div class="tab-pane fade " id="settings-pills">
                                    <p>Refer only the very best!</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
</div>
