 <!DOCTYPE html>
 <html>
 <head>
 	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
 	<h3>Hi <%= @pipeline.user.email %>,</h3>
 	<p>
 		An Interview has been scheduled with <%=@pipeline.candidate.name %> for <%=@pipeline.phase.name%>.
 	</p>
 	<p>
 		please visit the following <a href="http://localhost:3000/candidates/<%=@pipeline.candidate.id%>/edit">HireLane</a> for more details.
 	</p>
 	<p>Thanks for your support, have a great day!</p>
 	<p>HireLane Team</p>
 </body>
 </html>