<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Statistics</h1>
	</div>
</div>

<h4>Hirings in past 7 months</h4>
<div id="myfirstchart">
</div>

<script>

new Morris.Area({
  element: 'myfirstchart',
  data: [
    { y: 'July', Telephonic: 100, Coding: 90, Interview: 73, Leadership : 2 },
    { y: 'August', Telephonic: 75,  Coding: 65, Interview: 52, Leadership : 44 },
    { y: 'September', Telephonic: 10,  Coding: 5, Interview: 3, Leadership : 1  },
    { y: 'October', Telephonic: 75,  Coding: 65, Interview: 44, Leadership : 21 },
    { y: 'November', Telephonic: 50,  Coding: 40, Interview: 31, Leadership : 10 },
    { y: 'December', Telephonic: 75,  Coding: 65, Interview: 12, Leadership : 0 },
    { y: 'January', Telephonic: 100, Coding: 70, Interview: 47, Leadership : 17 }
  ],
  parseTime: false,
  xkey: 'y',
  ykeys: ['Telephonic', 'Coding', 'Interview', 'Leadership'],
  labels: ['Telephonic', 'Coding', 'Interview', 'Leadership' ]

});
</script>