<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa  fa-phone  fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>Screening!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa  fa-code  fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>Coding!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">124</div>
                        <div>Interview!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa  fa-users  fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Leadership!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="panel panel-info">
    <div class="panel-heading" style="height:50px">
        <b> Candidates Pipeline</b>
        <span style="float:right;">
            <button type="button" class="btn btn-success btn-circle" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-clock-o"></i>
            </button>&nbsp;In Progress&nbsp;
            <button type="button" class="btn btn-info btn-circle" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
            </button>&nbsp;Cleared&nbsp;
            <button type="button" class="btn btn-warning btn-circle" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
            </button>&nbsp;Failed&nbsp;
            <button type="button" class="btn btn-warning btn-circle" style="background-color:grey;border-color:grey"><i class="fa fa-times"></i>
            </button>&nbsp;N/A&nbsp;
        </span>
    </div>

    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">

                        <tbody>
                            <thead style="text-align:center;color:#31708f;font-size:14px;font-weight:bold">
                                <td style="text-align:left" bgcolor="#d9edf7">
                                    Brief</td>
                                    <td bgcolor="#d9edf7">Telephonic</td>
                                    <td bgcolor="#d9edf7">Coding</td>
                                    <td bgcolor="#d9edf7">Interview</td>
                                    <td bgcolor="#d9edf7">Leadership</td>

                                </thead>
                                <tr style="text-align:center">
                                    <td style="text-align:left" width="300px">
                                        <b>Deepak Bansal</b> working at <b>Google.</b>
                                        <br/>
                                        <b>10 years</b> primarily in <b> Java/J2ee.</b>
                                        <br/>
                                        <b>B.Tech</b> in <b>Computers</b>
                                        <br/>
                                        <b>15 days</b> elapsed.
                                        <br/>

                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa  fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                            <% @candidates.each_with_index do |candidate| %>
                            <tr style="text-align:center">
                                <td style="text-align:left">
                                   <b><%= candidate.name %></b> working at <b>Macrosoft.</b>
                                   <br/>
                                   <b><%= candidate.exp %> years</b> primarily in <b> HTML.</b>
                                   <br/>
                                   <b>M.Tech</b> in <b>Computers</b>
                                   <br/>
                                   <b>54 days</b> elapsed.
                                   <br/>


                               </div>
                           </td>
                           <% if cycle('odd', 'even') == 'odd' %>
                           <td>
                            <button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-clock-o"></i>
                            </button>
                        </td>
                        <td>
                            <button style="background-color:grey;border-color:grey" class="btn btn-warning btn-circle btn-lg" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                        <% else %>
                        <td>
                            <button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa  fa-check"></i>
                            </button>
                        </td>
                        <% end %>



                    </tr>
                    <% end %>

                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>

</div>
</div>