<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Dashboard</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa  fa-phone  fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">26</div>
						<div>Screening!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa  fa-code  fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">12</div>
						<div>Coding!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-user fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">124</div>
						<div>Interview!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa  fa-users  fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">13</div>
						<div>Leadership!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="panel panel-info">
                        <div class="panel-heading" style="height:50px">
                           <b> Candidates Pipeline</b>
                           	<span style="float:right;">
                            <button type="button" class="btn btn-success btn-circle" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button>&nbsp;Not Scheduled&nbsp;
                            <button type="button" class="btn btn-info btn-circle" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button>&nbsp;Cleared&nbsp;
                             <button type="button" class="btn btn-warning btn-circle" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-check"></i>
                            </button>&nbsp;Failed&nbsp;
                            </span>
                        </div>
   
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                           
                                            <tbody>
                                            <thead style="text-align:center;text-color:white">
                                            	    <td style="text-align:left" bgcolor="#d9edf7">
                                                    	Details</td>
                                                    <td bgcolor="#d9edf7">Telephonic</td>
                                                    <td bgcolor="#d9edf7">Programming</td>
                                                    <td bgcolor="#d9edf7">Interview</td>
                                                    <td bgcolor="#d9edf7">Leadership</td>
                                                
                                            </thead>
                                                <tr style="text-align:center">
                                                    <td style="text-align:left">
                                                    	Deepak Bansal<br/>
                                                    	10 years<br/>
                                                    	15 days<br/>
                                                    	
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>	
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
                                                 <tr style="text-align:center">
                                                    <td style="text-align:left">
                                                        Deepak Bansal<br/>
                                                        10 years<br/>
                                                        15 days<br/>
                                                        
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>  
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
												<tr style="text-align:center">
                                                    <td style="text-align:left">
                                                        Deepak Bansal<br/>
                                                        10 years<br/>
                                                        15 days<br/>
                                                        
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>  
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
                                                <tr style="text-align:center">
                                                <tr style="text-align:center">
                                                    <td style="text-align:left">
                                                        Deepak Bansal<br/>
                                                        10 years<br/>
                                                        15 days<br/>
                                                        
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>  
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
                                              <tr style="text-align:center">
                                                    <td style="text-align:left">
                                                        Deepak Bansal<br/>
                                                        10 years<br/>
                                                        15 days<br/>
                                                        
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>  
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
                                              <tr style="text-align:center">
                                                    <td style="text-align:left">
                                                        Deepak Bansal<br/>
                                                        10 years<br/>
                                                        15 days<br/>
                                                        
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>  
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
                                               <tr style="text-align:center">
                                                    <td style="text-align:left">
                                                        Deepak Bansal<br/>
                                                        10 years<br/>
                                                        15 days<br/>
                                                        
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>  
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
                                                <tr style="text-align:center">
                                                    <td style="text-align:left">
                                                        Deepak Bansal<br/>
                                                        10 years<br/>
                                                        15 days<br/>
                                                        
                                                    </div></td>
                                                    <td><button type="button" class="btn btn-info btn-circle btn-lg" style="background-color:#5cb85c;border-color:#5cb85c"><i class="fa fa-check"></i>
                            </button></td>
                                                    <td><button type="button" class="btn btn-warning btn-circle btn-lg" style="background-color:#d9534f;border-color:#d9534f"><i class="fa fa-times"></i>
                            </button></td>  
                                                    <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                     <td><button type="button" class="btn btn-success btn-circle btn-lg" style="background-color:#5bc0de;border-color:#5bc0de"><i class="fa fa-times"></i>
                            </button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>

</div>
</div>